.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  padding: 94px 50px;
  justify-content: space-between;
  align-content: center;
}

.menu {
  display: flex;
}

.menu__list {
  display: flex;
  list-style-type: circle;
  /*
  Этот код, если нужно сдвинуть контакты как в макете, 
  седал его по центру, т.к. более эстетично:
  margin-bottom: 5px;
  */
}

.menu__item {
  margin-right: 32px;
  align-content: center;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
}

.menu__item:first-child {
  list-style: none;
}

.logo__wrap {
  display: block;
  width: 148px;
  height: 105px;
  place-self: center;
  position: relative;
  border: 0;
}

.logo__image {
  height: 105px;
  /*
  Этот код, если нужно сдвинуть логотип как в макете, 
  седал его по центру, т.к. более эстетично:
  position: absolute;
  top: -2px;
  right: -2px;*/
}

.contacts {
  margin-left: 186px;
  list-style: none;
  /*
  Этот код, если нужно сдвинуть контакты как в макете, 
  седал его по центру, т.к. более эстетично:
  margin-bottom: 1px;
  */
}

.contacts__item {
  font-size: 18px;
  line-height: 24.3px;
  letter-spacing: 0%;
}
