.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  padding: 94px 50px;
  align-items: center;
}

.header__menu {
  display: flex;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style-type: circle;
  /*
  Этот код, если нужно сдвинуть контакты как в макете,
  седал его по центру, т.к. более эстетично:
  margin-top: -5px;
  */
}

.header__links-list-item {
  align-content: center;
  font-size: 18px;
  line-height: 100%;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  border-bottom: 0;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
  border: 0;
}

.header__logo-image {
  height: 105px;
  /*
  Этот код, если нужно сдвинуть логотип как в макете,
  седал его по центру, т.к. более эстетично:
  margin-top: -2px;
  margin-right: -2px;
  */
}

.address {
  max-width: 240px;
  justify-self: end;
}

.header__address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  /*
  Этот код, если нужно сдвинуть контакты как в макете,
  седал его по центру, т.к. более эстетично:
  margin-top: -7px;
  */
}

.header__address-item {
  font-size: 18px;
  line-height: 1.35em;
}

.cover {
  background-image: url('../images/cover.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 165px 50px 50px;
  display: grid;
  gap: 106px;
  position: relative;
  color: #fff;
  text-transform: uppercase;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 60%;
}

.cover__title {
  font-weight: 700;
  font-size: 100px;
  line-height: 1.15em;
  letter-spacing: 0.3em;
  z-index: 1;
  /*Делаем grid блок для установки расстояния между словами по вертикали*/
  display: grid;
  gap: 20px;
}

.aligned-text {
  /*Делаем текст блоком, чтобы он переносился на новую строку*/
  display: block;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.no-letter-spacing {
  /*Компенсируем letter-spacing для последней буквы через margin-right*/
  margin-right: -0.3em;
}

.cover__description {
  z-index: 1;
  font-size: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover__description-text {
  line-height: 28px;
  word-spacing: 85%;
}

.bet-button {
  background-color: transparent;
  border: solid 1px #fff ;
  color: #fff;
  font-family: Raleway;
  text-align: center;
  text-transform: uppercase;
  padding: 12px 32px;
}
